@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
